/* 
Ocultar las barras de desplazamiento */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game-world {
    position: relative; /* Esto asegura que el contenedor pueda moverse libremente */
    
    width: 100vw; /* Asegúrate de que ocupe todo el ancho de la pantalla */
    height: 100vh; /* Y toda la altura de la pantalla */

    will-change: transform; /* Optimización para cambios en la propiedad transform */
}