*{
    margin: 0;
    padding: 0;
   
}
body{
    overflow: hidden;
    scroll-behavior: inherit;
    cursor: none;
    
}
#gameWorld {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), 
                url('../src/terrain/background/Background1.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 2 !important;
}

