*{
    margin: 0;
    padding: 0;
   
}
body{
    overflow: hidden;
    scroll-behavior: inherit;
    
}
canvas{
    background-image: url('../src/terrain/background/Background1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

